table { table-layout: fixed;
        width: 31.5%;
}

table {border-collapse: collapse;
}

th, td {border: 1px solid black;
        padding: 8px 1px;
        line-height: 29px; 
        width: 54px;
        text-align:center;vertical-align:middle;
        font-size: 25px;
        font-family "Arial";
    }

tr:nth-child(even) {background: #ff0000;}

td:nth-child(even) {background: #ff0000;}

.blue {background-color: blue}
.yellow {background-color: yellow!important}
.green {background-color: green!important}